.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}
.active {
  color: blue;
  font-weight: bold;
}
.normal {
  color: black;
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding-right: 15px;
}
.img {
  height: 25px;
}
.rating-item {
  list-style-type: none;
  margin-top: 16px;
}

/* Write your CSS here */
